h1{
     background-color: rgb(87, 87, 87);
     color: white;
}

body{
     background-color: black;
     color: white;
     text-align: center;
}




.cover{
	height: 200px;
	width: 250px;
	border-color: aliceblue;
	border-style: double;
	margin-left: 20px;
}

h2{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.img{
	text-align: left;
     height: 200px;
	width: 250px;
	border-color: aliceblue;
	border-style: double;
	margin-left: 20px;
}